<div class="d-flex flex-wrap">
  <h5 class="font-size-16 me-3">Assets</h5>

  <div class="ms-auto">
    <a href="javascript: void(0);" class="fw-medium text-reset">View All</a>
  </div>
</div>
<hr class="mt-2" />
<div class="table-responsive">
  <table class="table align-middle table-nowrap table-hover mb-0">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Date modified</th>
        <th scope="col" colspan="2">Size</th>
      </tr>
    </thead>
    <tbody>
      @if(assets) { @for (data of assets.items; track $index) {
      <tr>
        <td>
          <a [routerLink]="['asset', data.id]" class="text-dark fw-medium">
            <div class="d-inline-block text-truncate name-column">
              <i
                class="{{
                  data.name | fileIcon
                }} font-size-16 align-middle text-primary me-2"
              ></i>
              {{ data.name }}
            </div>
          </a>
        </td>
        <td>{{ data.lastModified | date }}</td>
        <td>{{ data.size | fileSize }}</td>
        <!-- <td>
          <div class="dropdown" dropdown>
            <a
              class="font-size-16 text-muted dropdown-toggle"
              role="button"
              dropdownToggle
              data-toggle="dropdown"
              aria-haspopup="true"
            >
              <i class="mdi mdi-dots-horizontal"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
              @for (item of data.actions; track $index) {
                <a
                  class="dropdown-item"
                  href="javascript: void(0);"
                  >{{ item }}</a
                >
                }
              <a class="dropdown-item" href="javascript: void(0);">Rename</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript: void(0);">Remove</a>
            </div>
          </div>
        </td> -->
        <td>
          <a
            href="javascript:void(0);"
            class="text-danger"
            (click)="trashAsset(data.id)"
            ><i class="mdi mdi-delete font-size-18"></i
          ></a>
        </td>
      </tr>
      } }
    </tbody>
  </table>
</div>
<div class="row justify-content-md-between align-items-md-center mt-2">
  <div class="col-sm-12 col-md-5">
    <div
      class="dataTables_info mb-2"
      id="tickets-table_info"
      role="status"
      aria-live="polite"
    >
      Showing {{ (assets.pageNumber - 1) * 10 + 1 }} to
      {{ (assets.pageNumber - 1) * 10 + 10 }} of
      {{ assets.totalCount }}
      Assets
    </div>
  </div>
  <!-- Pagination -->
  <div class="col-sm-12 col-md-5">
    <div class="text-md-right float-md-end pagination-rounded">
      <pagination
        [totalItems]="assets.totalCount"
        previousText="Prev"
        (pageChanged)="pageChanged($event)"
      >
      </pagination>
    </div>
  </div>
  <!-- End Pagination -->
</div>
