<div *ngIf="asset$ | async; let asset">
  @if (canShow(asset.name)) {
  <ngx-doc-viewer
    [url]="asset.path"
    [viewer]="'url'"
    style="height: 80vh"
  ></ngx-doc-viewer>
  } @else {
  <div class="text-center">
    <h4 class="text-muted">No preview available</h4>
  </div>
  }
  <div class="d-flex align-items-center">
    <a
      *ngIf="asset.folderId"
      [routerLink]="['/file-manager']"
      [queryParams]="{ folderId: asset.folderId }"
      class="btn btn-primary"
      >Back</a
    >
    <a [routerLink]="['/file-manager']" class="btn btn-primary">Home</a>
  </div>
</div>

<!-- Add a back link to the asset details page -->
