<div class="d-flex flex-wrap">
  <h5 class="font-size-16 me-3">Trash</h5>

  <div class="ms-auto">
    <a href="javascript: void(0);" class="fw-medium text-reset">View All</a>
  </div>
</div>
<hr class="mt-2" />
<div class="table-responsive">
  <table class="table align-middle table-nowrap table-hover mb-0">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Date modified</th>
        <th scope="col" colspan="2">Size</th>
      </tr>
    </thead>
    <tbody>
      @for (item of trashedItems; track $index) {
      <tr>
        <td>
          <a href="javascript: void(0);" class="text-dark fw-medium">
            <div class="d-inline-block text-truncate name-column">
              <i
                class="{{
                  utility.getIconByExtension(
                    item.isFolder ? 'folder' : item.name
                  )
                }} font-size-16 align-middle text-primary me-2"
              ></i>
              {{ item.name }}
            </div>
          </a>
        </td>
        <td>{{ item.trashedAt | date }}</td>
        <td>
          <span class="d-inline-block text-truncate name-column">
            {{ item.isFolder ? "" : utility.getFileSize(item.sizeInKB) }}
          </span>
        </td>
        <td>
          <div class="dropdown" dropdown>
            <a
              class="font-size-16 text-muted dropdown-toggle"
              role="button"
              dropdownToggle
              data-toggle="dropdown"
              aria-haspopup="true"
            >
              <i class="mdi mdi-dots-horizontal"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
              <!-- @for (item of data.actions; track $index) {
                  <a
                    class="dropdown-item"
                    href="javascript: void(0);"
                    >{{ item }}</a
                  >
                  } -->
            </div>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
