$name-column-widths: (
  1001px 1200px 100px,
  1201px 1400px 150px,
  1401px 1600px 200px,
  1601px 1800px 350px,
  1801px 2000px 500px,
  2001px 3000px 750px,
  3001px 4000px 1000px,
  4001px 5000px 2000px,
  5001px 6000px 4000px
);

.name-column {
  max-width: 100%; // Ensure it takes up available space
  white-space: nowrap; // Prevent text from wrapping
  overflow: hidden; // Hide overflow text
  text-overflow: ellipsis; // Add ellipsis for overflow text
}

@each $min, $max, $width in $name-column-widths {
  @media (min-width: #{$min}) and (max-width: #{$max}) {
    .name-column {
      max-width: #{$width};
    }
  }
}
