<div class="d-flex flex-wrap">
  <h5 class="font-size-16 me-3">Trash</h5>

  <div class="ms-auto">
    <a href="javascript: void(0);" class="fw-medium text-reset">View All</a>
  </div>
</div>
<hr class="mt-2" />
<div class="table-responsive">
  <table class="table align-middle table-nowrap table-hover mb-0">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Date modified</th>
        <th scope="col" colspan="2">Size</th>
      </tr>
    </thead>
    <tbody>
      @for (item of trashedItems; track $index) {
      <tr>
        <td>
          <a href="javascript: void(0);" class="text-dark fw-medium">
            <div class="d-inline-block text-truncate name-column">
              <i
                class="{{
                  item.isFolder ? 'folder' : (item.name | fileIcon)
                }} font-size-16 align-middle text-primary me-2"
              ></i>
              {{ item.name }}
            </div>
          </a>
        </td>
        <td>{{ item.trashedAt | date }}</td>
        <td>
          <span class="d-inline-block text-truncate name-column">
            {{ item.isFolder ? "" : (item.sizeInKB | fileSize) }}
          </span>
        </td>
        <td>
          <a
            href="javascript:void(0);"
            class="text-success"
            (click)="restoreItem(item)"
            ><i class="mdi mdi-restore font-size-18"></i
          ></a>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
