<div class="container-fluid">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Form grid layout</h4>

                <form [formGroup]="createSubscriptionForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="formrow-name-input">Name</label>
                        <input type="text" class="form-control" placeholder="Enter Name" formControlName="name"
                            controlValidationClass>
                        <app-error-message [control]="createSubscriptionForm.get('name')" />
                    </div>

                    <div class="mb-3">
                        <label for="formrow-description-input">Description</label>
                        <input type="text" class="form-control" placeholder="Enter Description"
                            formControlName="description" controlValidationClass>
                        <app-error-message [control]="createSubscriptionForm.get('description')" />
                    </div>

                    <div class="mb-3">
                        <label for="formrow-price-input">Price</label>
                        <input type="number" class="form-control" placeholder="Enter Price" formControlName="price"
                            controlValidationClass>
                        <app-error-message [control]="createSubscriptionForm.get('price')" />
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" formControlName="isActive">
                            <label class="form-check-label" for="gridCheck">
                                Active
                            </label>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary w-md">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>