<app-file-manager
  [folderTree]="folderTree$ | async"
  [folders]="folders$ | async"
  [assets]="assets$ | async"
  [pathToRoot]="pathToRoot$ | async"
  [trashedItems]="trashedItems$ | async"
  [storageStatusByAssetType]="storageStatusByAssetType$ | async"
  (setCurrentFolderIdEvent)="setCurrentFolderId($event)"
  (addFolderEvent)="addFolder($event)"
  (trashFoldersEvent)="trashFolders($event)"
  (restoreItemsEvent)="restoreItems($event)"
  (fileUploadEvent)="fileUpload($event)"
  (fetchTrashedItemsEvent)="fetchTrashedItems()"
  (searchEvent)="search($event)"
  (trashAssetEvent)="trashAsset($event)"
  (assetListPageChangedEvent)="assetListPageChanged($event)"
>
</app-file-manager>
