[Unit]
Description=GreenRoom Web Api

[Service]
WorkingDirectory=/var/www/greenroom
ExecStart=/usr/bin/dotnet /var/www/GreenRoom.Web
Restart=always

# Restart service after 5 seconds when dotnet service crashes:
RestartSec=5
KillSignal=SIGINT
SyslogIdentifier=webapi
Environment=ASPNETCORE_ENVIRONMENT=Production 


[Install]
WantedBy=multi-user. target