<div class="row">
  <div class="col-lg-3">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <mat-card-title>{{ folderName }}</mat-card-title>
        <div
          class="table-responsive m-t-16"
          *ngIf="folders && folders.length > 0"
        >
          <table mat-table [dataSource]="folders" class="w-100">
            <!-- Position Column -->
            <ng-container matColumnDef="name">
              <th
                mat-header-cell
                *matHeaderCellDef
                class="f-w-600 mat-subtitle-1 f-s-14"
              >
                <!-- Name -->
              </th>
              <td mat-cell *matCellDef="let element">
                <div class="d-flex align-items-center">
                  <img
                    [src]="element.thumbnail || defaultImage"
                    alt="users"
                    width="40"
                  />
                  <div class="m-l-16">
                    <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                      {{ element.name }}
                    </h6>
                    <span class="mat-body-1 f-s-12"> 30 files </span>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
